/* Navigation */
#navbar {
  flex-direction: column;
}

/* Home section  */
#home {
  height: 635px;
  padding: 3px 68px;
}
#home::before {
  height: 635px;
}

/* Services */
#services {
  flex-direction: column;
}
#services .box {
}

/* CLients section  */
#clients {
  flex-wrap: wrap;
}
#clients img {
  width: 50px;
  height: 50px;
  padding: 2px 6px;
}
.client-item {
  padding: 0px;
}

/* Contact Form  */
.contact-box input,
.contact-box textarea {
  width: 90%;
}

.h-primary {
  font-size: 26px;
}
.h-secondary {
  font-size: 20px;
}
.p-para {
  font-size: 16px;
}
